/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer


/entry/src/main/ets/pages/practice
/entry/src/main/ets/pages/materials
*.DS_Store


